{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runaway Inn | Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- datepicker package -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="/static/images/logo.png" width="100px" height="40px" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Rooms
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/rooms/generals">General's</a></li>
                                <li><a class="dropdown-item" href="/rooms/presidentals">Presidental's</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search-availability">Book Now</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 {{block "content" .}}

 {{end}}
<div class="row my-footer">
    <div class="col">
        Left
    </div>
    <div class="col">
        Left
    </div>
    <div class="col">
        Left
    </div>
</div>
    <script>
        const elem = document.getElementById('reservation-date');
        const rangepicker = new DateRangePicker(elem, {
            format: 'yyyy-mm-dd',
        });
    </script>
    <!-- notie package -->
    <script src="https://unpkg.com/notie"></script>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{block "js" .}}
    
    {{end}}
    <script>
        const checkAvailabilityHTML = `
            <form action="" method="GET">
                    <div class="row">
                        <div class="row mb-3" id="reservation-date-modal">
                            <div class="col-6">
                                <label for="start_date" class="form-label">Starting Date</label>
                                <input disabled placeholder="yyyy-mm-dd" type="text" class="form-control" id="start_date"
                                    name="start" aria-describedby="startEmailHelp" required>
                                <div id="emailHelp" class="form-text">Enter your starting date for stay.</div>
                            </div>
                            <div class="col-6">
                                <label for="end_date" class="form-label">Ending Date</label>
                                <input disabled placeholder="yyyy-mm-dd" type="text" class="form-control" id="end_date" name="end"
                                    aria-describedby="endEmailHelp" required>
                                <div id="emailHelp" class="form-text">Enter your ending date of stay.</div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-dark">Search Availability</button>
                </form>
            `;
        function notify(msg, type) {
            notie.alert({
                type: type,
                text: msg,
            })
        }
        function Prompt() {
            const toast = ({ msg = "", icon = "success", position = "top-end" }) => {
                const Toast = Swal.mixin({
                    toast: true,
                    title: msg,
                    position: position,
                    icon: icon,
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })
                Toast.fire({})
            }
            const success = ({ title = "", text = "", icon, footer = "" }) => {
                Swal.fire({
                    title: title,
                    text: text,
                    icon: 'success',
                    footer: footer,
                })
            }
            const error = ({ title = "", text = "", icon, footer = "" }) => {
                Swal.fire({
                    title: title,
                    text: text,
                    icon: 'error',
                    footer: footer,
                })
            }
            const custom = async ({ title = "", text = "" }) => {
                const { value: formValues } = await Swal.fire({
                    title: title,
                    html: text,
                    backdrop: false,
                    focusConfirm: false,
                    showCancelButton: true,
                    willOpen: () => {
                        const elem = document.getElementById("reservation-date-modal");
                        const rp = new DateRangePicker(elem, {
                            format: 'yyyy-mm-dd',
                            showOnFocus: true,
                        })
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById('start').value,
                            document.getElementById('end').value
                        ]
                    },
                    didOpen: () => {
                        document.getElementById('start').removeAttribute('disabled');
                        document.getElementById('end').removeAttribute('disabled');
                    }
                })

                if (formValues) {
                    Swal.fire(JSON.stringify(formValues))
                }
            }
            return {
                toast: toast,
                success: success,
                error: error,
                custom: custom
            }
        }
    </script>
    </body>
    
    </html>
{{end}}