{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col col-lg-6 col-sm-12 mx-auto">
            <img src="../static/images/generals-quarters.png" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">The General's Suite</h1>
            <p>A suite offers a separate sitting and/or working area; unlike the junior edition, though, true suites separate these
            areas from the sleeping quarters with a permanent wall and, in many cases, a door. A suite may or may not feature a
            kitchenette or a full kitchen. Also of note, Sleeping Around cautions that some hotels market junior suites as full
            suite accommodations. To avoid confusion, travelers should verify the features before booking a suite.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="checkAvailabilitybutton" href="#!" class="btn btn-outline-dark">Check Availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script src="/static/js/generalscript.js"></script>
{{end}}