{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col col-lg-6 col-sm-12 mx-auto">
            <img src="../static/images/generals-quarters.png" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">The General's Suite</h1>
            <p>Your way away from home, soothing wind and music of life which will rejuvinate you with all possible
                ways.
                The view and our food will always force you to take a vacation here every year!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/reservation/gs" class="btn btn-dark">Check Availability</a>
        </div>
    </div>
</div>
{{end}}