{{template "base" .}}


{{define "content"}}
<div class="container">
    {{$res := index .Data "reservation"}}
    <div class="row">
        <h1 class="mt-2">Make Reservation</h1>
        <h2>Reservation Details</h2>

        
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Chosen Room:
                <span class="badge bg-dark rounded-pill">{{$res.Room.RoomName}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Arrival:
                <span class="badge bg-dark rounded-pill">{{index .StringMap "start_date"}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Departure:
                <span class="badge bg-dark rounded-pill">{{index .StringMap "end_date"}}</span>
            </li> 
        </ul>

        <form action="/make-reservation" method="POST" novalidate>
            <input type="hidden" value="{{.CSRFToken}}" name="csrf_token" />
            <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}" />
            <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}" />
            <input type="hidden" name="room_id" value="{{$res.RoomID}}" />
            <div class="form-group mt-5">
                <label for="first_name">First Name:</label>
                {{with .Form.Errors.Get "first_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" value="{{$res.FirstName}}" name="first_name" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" id="first_name" required autocomplete="off">
            </div>
            <div class="form-group mt-2">
                <label for="last_name">Last Name:</label>
                {{with .Form.Errors.Get "last_name"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" value="{{$res.LastName}}" name="last_name" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" id="last_name" required autocomplete="off">
            </div>
            <div class="form-group mt-2">
                <label for="email">Email:</label>
                {{with .Form.Errors.Get "email"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="email" value="{{$res.Email}}" name="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" id="email" required autocomplete="off">
            </div>
            <div class="form-group mt-2">
                <label for="phone">Phone number</label>
                {{with .Form.Errors.Get "phone"}}
                    <label class="text-danger">{{.}}</label>
                {{end}}
                <input type="text" value="{{$res.Phone}}" name="phone" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" id="phone" required autocomplete="off">
            </div>
            <hr />
            <button class="btn btn-outline-dark">Book</button>
        </form>
    </div>
</div>
{{end}}