{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col col-lg-6 col-sm-12 mx-auto">
            <img src="../static/images/marjors-suite.png" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">The Presidental's Suite</h1>
            <p>Presidential suites are the most luxurious accommodations offered by hotels. Brands typically offer only one or two
            suites of this caliber at a given property. These suites capture the most discerning luxury travelers and are a key
            differentiator when targeting the high-rated international guest segment.
            
            The guest segment for these multibedroom retreats is niche—think celebrities, heads of state and their inner-circle
            staffers, CEOs and high-net-worth individuals.
            
            From an investment perspective, presidential suites are lucrative due to the high average daily rates they can achieve.
            The decision to invest in a presidential suite requires a thoughtful market and competitive set analysis.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a id="checkAvailabilitybutton" href="#!" class="btn btn-outline-dark">Check Availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script src="/static/js/presidentals.js">
</script>
{{end}}