{{template "base" .}}


{{define "content"}}
{{$res := index .Data "reservation"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Reservation Summary:</h1>
            <hr>
            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td><strong>{{$res.FirstName}} {{$res.LastName}}</strong></td>
                    </tr>
                    <tr>
                        <td>Room Name:</td>
                        <td><strong>{{$res.Room.RoomName}}</strong></td>
                    </tr>
                    <tr>
                        <td>Arrival:</td>
                        <td><strong>{{index .StringMap "start_date"}}</strong></td>
                    </tr>
                    <tr>
                        <td>Departure:</td>
                        <td><strong>{{index .StringMap "end_date"}}</strong></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><strong>{{$res.Email}}</strong></td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td><strong>{{$res.Phone}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}}