@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
}

.my-footer {
    height: 5em;
    background-color: #242424;
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
}

.datepicker {
    z-index: 10000;
}

.roomsSelect:hover {
    background-color: #242424 !important;
    color: whitesmoke !important;
    transform: scale(1.02) !important;
}